.alignleft {
	display: inline;
	float: left;
	margin-right: 15px;
	margin-right: 1.5rem;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 15px;
	margin-left: 1.5rem;
}

.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}

.alignnone {
	margin: 10px 0;
}
